.navbar-default {
  background-color: lightgray;
}

.nav-logo {
  max-height: 50px;
}

.h1 {
  text-align: center;
}

.topnav > *, .main-content {
  margin-top: 10px;
}

.header-row {
  margin: 0 5px 5px 5px;
  border-bottom: 1px solid lightgray;
}

.header-row > * {
  padding: 0;
}