.navbar-fixed-top {
    background-color: lightgray;
}

.button-order {
  color: black;
  border: 2px solid mediumseagreen;
  width: 100%;
  margin-bottom: 0.5em;
}

.borderless td, .borderless th {
  border: none !important;
}

.table-order-total {
  color: darkred;
  font-size: 1.2em;
  font-weight: 600;
}
