.navbar-default {
  background-color: lightgray;
}

.nav-logo {
  max-height: 50px;
}

.h1 {
  text-align: center;
}

.topnav > *, .main-content {
  margin-top: 10px;
}

.header-row {
  margin: 0 5px 5px 5px;
  border-bottom: 1px solid lightgray;
}

.header-row > * {
  padding: 0;
}

.card-row {
  padding: 0 5px 0 5px;
}

input[type=radio] {
  margin-right: 5px;
}

.row > .h5 {
  margin: 0;
  font-size: 15px;
}

.topnav > * {
    margin-top: 10px;
}

.button-order {
  color: black;
  border: 2px solid mediumseagreen;
  width: 100%;
  margin-bottom: 0.5em;
}

.borderless td, .borderless th {
  border: none !important;
}

.table-order-total {
  color: darkred;
  font-size: 1.2em;
  font-weight: 600;
}

.delivery {
  font-size: 15px;
  color: forestgreen;
}